<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>jenkins.diagnostics.ControllerExecutorsNoAgents</string>
  </disabledAdministrativeMonitors>
  <version>2.348</version>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="com.michelin.cio.hudson.plugins.rolestrategy.RoleBasedAuthorizationStrategy">
    <roleMap type="globalRoles">
      <role name="admin" pattern=".*">
        <permissions>
          <permission>hudson.model.View.Delete</permission>
          <permission>hudson.model.Hudson.Manage</permission>
          <permission>hudson.model.Computer.Connect</permission>
          <permission>hudson.model.Run.Delete</permission>
          <permission>hudson.model.Hudson.UploadPlugins</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains</permission>
          <permission>hudson.model.Computer.Create</permission>
          <permission>hudson.model.View.Configure</permission>
          <permission>hudson.model.Hudson.ConfigureUpdateCenter</permission>
          <permission>hudson.model.Computer.Build</permission>
          <permission>hudson.model.Item.Configure</permission>
          <permission>hudson.model.Hudson.Administer</permission>
          <permission>hudson.model.Item.Cancel</permission>
          <permission>hudson.model.Item.Read</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View</permission>
          <permission>hudson.model.Computer.Delete</permission>
          <permission>hudson.model.Item.Build</permission>
          <permission>hudson.model.Item.ExtendedRead</permission>
          <permission>hudson.scm.SCM.Tag</permission>
          <permission>hudson.model.Item.Move</permission>
          <permission>hudson.model.Item.Discover</permission>
          <permission>hudson.model.Hudson.Read</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update</permission>
          <permission>hudson.model.Item.Create</permission>
          <permission>hudson.model.Item.Workspace</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete</permission>
          <permission>hudson.model.Computer.Provision</permission>
          <permission>hudson.model.Run.Replay</permission>
          <permission>hudson.model.Item.WipeOut</permission>
          <permission>hudson.model.View.Read</permission>
          <permission>hudson.model.Hudson.RunScripts</permission>
          <permission>hudson.model.Hudson.SystemRead</permission>
          <permission>hudson.model.View.Create</permission>
          <permission>hudson.model.Computer.ExtendedRead</permission>
          <permission>hudson.model.Item.Delete</permission>
          <permission>hudson.model.Computer.Configure</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create</permission>
          <permission>hudson.model.Computer.Disconnect</permission>
          <permission>hudson.model.Run.Artifacts</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.UseItem</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.UseOwn</permission>
          <permission>hudson.model.Run.Update</permission>
        </permissions>
        <assignedSIDs>
          <sid>root</sid>
        </assignedSIDs>
      </role>
    </roleMap>
    <roleMap type="slaveRoles"/>
    <roleMap type="projectRoles"/>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULL_NAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks>
    <jdk>
      <name></name>
      <home></home>
      <properties/>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds>
    <hudson.plugins.ec2.EC2Cloud plugin="ec2@1.68">
      <name>ec2-ec2-agent</name>
      <useInstanceProfileForCredentials>false</useInstanceProfileForCredentials>
      <roleArn></roleArn>
      <roleSessionName></roleSessionName>
      <credentialsId>AWS-KEYS</credentialsId>
      <sshKeysCredentialsId>ec2private-keys</sshKeysCredentialsId>
      <instanceCap>2147483647</instanceCap>
      <templates>
        <hudson.plugins.ec2.SlaveTemplate>
          <ami>ami-06a0b4e3b7eb7a300</ami>
          <description>AWS-Ec2-ap-south-1a</description>
          <zone></zone>
          <securityGroups>sg-0684a74fe71f043b5</securityGroups>
          <remoteFS>/home/ec2-user</remoteFS>
          <type>T2Micro</type>
          <ebsOptimized>false</ebsOptimized>
          <monitoring>false</monitoring>
          <t2Unlimited>false</t2Unlimited>
          <labels>aws-jenkins-agent</labels>
          <mode>EXCLUSIVE</mode>
          <initScript>#!/bin/bash
yum install git -y 
yum install maven -y 
yum install  java-1.8.0-openjdk -y </initScript>
          <tmpDir></tmpDir>
          <userData></userData>
          <numExecutors>2</numExecutors>
          <remoteAdmin>ec2-user</remoteAdmin>
          <jvmopts></jvmopts>
          <subnetId></subnetId>
          <idleTerminationMinutes>0</idleTerminationMinutes>
          <iamInstanceProfile></iamInstanceProfile>
          <deleteRootOnTermination>true</deleteRootOnTermination>
          <useEphemeralDevices>false</useEphemeralDevices>
          <customDeviceMapping></customDeviceMapping>
          <instanceCap>2147483647</instanceCap>
          <minimumNumberOfInstances>0</minimumNumberOfInstances>
          <minimumNumberOfSpareInstances>0</minimumNumberOfSpareInstances>
          <stopOnTerminate>false</stopOnTerminate>
          <tags>
            <hudson.plugins.ec2.EC2Tag>
              <name>name</name>
              <value>ec2-agent</value>
            </hudson.plugins.ec2.EC2Tag>
          </tags>
          <connectionStrategy>PUBLIC_IP</connectionStrategy>
          <hostKeyVerificationStrategy>ACCEPT_NEW</hostKeyVerificationStrategy>
          <associatePublicIp>true</associatePublicIp>
          <amiType class="hudson.plugins.ec2.UnixData">
            <rootCommandPrefix>sudo</rootCommandPrefix>
            <slaveCommandPrefix></slaveCommandPrefix>
            <slaveCommandSuffix></slaveCommandSuffix>
            <sshPort>22</sshPort>
            <bootDelay>0</bootDelay>
          </amiType>
          <launchTimeout>2147483647</launchTimeout>
          <connectBySSHProcess>true</connectBySSHProcess>
          <maxTotalUses>-1</maxTotalUses>
          <nodeProperties/>
          <nextSubnet>0</nextSubnet>
          <tenancy>Default</tenancy>
          <ebsEncryptRootVolume>ENCRYPTED</ebsEncryptRootVolume>
          <metadataEndpointEnabled>false</metadataEndpointEnabled>
          <metadataTokensRequired>false</metadataTokensRequired>
          <metadataHopsLimit>1</metadataHopsLimit>
          <amiOwners></amiOwners>
          <amiUsers></amiUsers>
          <usePrivateDnsName>false</usePrivateDnsName>
          <connectUsingPublicIp>true</connectUsingPublicIp>
        </hudson.plugins.ec2.SlaveTemplate>
      </templates>
      <region>ap-south-1</region>
      <altEC2Endpoint></altEC2Endpoint>
      <noDelayProvisioning>false</noDelayProvisioning>
    </hudson.plugins.ec2.EC2Cloud>
  </clouds>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>3</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>50000</slaveAgentPort>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>true</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties/>
  <nodeRenameMigrationNeeded>false</nodeRenameMigrationNeeded>
</hudson>