<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>docker-node</name>
  <description>docker-node</description>
  <remoteFS>/root</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.814.vc82988f54b_10">
    <host>10.10.1.173</host>
    <port>22</port>
    <credentialsId>docker-node</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>docker-node</label>
  <nodeProperties/>
</slave>