<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1181.va_25d15548158">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2081.v3919681ffc1e"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2081.v3919681ffc1e">
      <jobProperties>
        <string>org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty</string>
        <string>jenkins.model.BuildDiscarderProperty</string>
        <string>org.jenkinsci.plugins.workflow.job.properties.DisableResumeJobProperty</string>
      </jobProperties>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>7</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>7</artifactDaysToKeep>
        <artifactNumToKeep>10</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty>
      <abortPrevious>true</abortPrevious>
    </org.jenkinsci.plugins.workflow.job.properties.DisableConcurrentBuildsJobProperty>
    <org.jenkinsci.plugins.workflow.job.properties.DisableResumeJobProperty/>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2692.v76b_089ccd026">
    <script>pipeline {
    agent any
    tools {
        maven &apos;maven123&apos;
    }
    options {
        buildDiscarder logRotator(artifactDaysToKeepStr: &apos;7&apos;, artifactNumToKeepStr: &apos;10&apos;, daysToKeepStr: &apos;7&apos;, numToKeepStr: &apos;10&apos;)
        retry(2)
        timestamps()
        warnError(&apos;Error messages&apos;)
        disableResume()
        disableConcurrentBuilds abortPrevious: true
        timeout(activity: true, time: 40)
    }
    stages {
        stage(&apos;parallel build the code&apos;) {
            parallel {
                stage(&apos;checkout&apos; ) {
                    steps {
                        echo &apos;checkout of git&apos;
                    }
                }
                stage(&apos;build&apos;) {
                    steps {
                        echo &apos;build with maven&apos;
                    }
                }
                stage(&apos;test&apos;) {
                    steps {
                        echo &apos;test the soruce code&apos;
                    }
                }
            }
        }
        stage(&apos;deploy the code&apos;) {
            parallel {
                stage(&apos;deploy the code to UAT&apos;) {
                    steps {
                        echo &apos;deploy the code to UAT&apos;
                    }
                
                }
                stage(&apos;deploy the code to DEV&apos;) {
                    steps {
                        echo &apos;deploy the code to DEV&apos;
                    }
                }
            }
            
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>